@import "tailwindcss";

@theme {
    --animate-slide-in: slide-in 0.3s ease-out;

    @keyframes slide-in {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }
}